<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DG Heroes - Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bodycolor" >
    <header>
        <h1>DG Heroes</h1>
    </header>

<main class="grid" >
    <a href="babbage.html" target="_blank"><img  src="../img/babbage.png" alt="babbage."><br>Charles Babbage</a>
    <a href="berners-Lee.html" target="_blank"> <img src="../img/berners-lee.png" alt="berners"><br>Tim Berners-Lee</a>
    <a href="clarke.html" target="_blank"> <img src="../img/clark.jpg" alt="clarke"><br>Joan Clarke</a>
    <a href="hamilton.html" target="_blank"> <img src="../img/hamilton.jpg" alt="hamilton"><br>Margaret Hamilton</a>
    <a href="hopper.html" target="_blank"> <img src="../img/hopper.jpg" alt="hopper"><br>Grace Hopper</a>
    <a href="lovelace.html" target="_blank"> <img src="../img/lovelace.png" alt="lovelace"><br>Condesa de Lovelace</a>
    <a href="turing.html" target="_blank"> <img src="../img/turing.jpg" alt="turing"><br>Alan  Turing</a>
    <a href="paterson.html" target="_blank"><img src="../img/paterson.jpg" alt="paterson"><br>Tim Paterson</a>
</main>

</body>
</html>