<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Paterson</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <h1 id="tim" >Tim Paterson</h1>
        <h2>QDOS (Quick and Dirty Operating System)</h2>
    </header>
    

<!-- Perdon por los <br> quise usar h3 por ej. pero me rompia el css y no encontre el error.  -->

    <main class="content" >
        <p> 
            <img src="/img/paterson.jpg" alt="Tim Paterson">
                Tim Paterson (1956) estaba en el lugar justo y en el momento justo en 1980. O quizás no. Él fue el responsable de crear 86-DOS, el sistema operativo que acabaría siendo la base de MS-DOS y, a posteriori, el pilar sobre el que Microsoft construyó su imperio.

                Este programador probablemente no sabía lo que tenía entre manos cuando desarrolló aquel sistema operativo "sucio y rápido" (Quick and Dirty Operating System, o QDOS) que se convertiría en 86-DOS y que Microsoft acabaría comprando por 50.000 dólares. El precio resultó ser una verdadera ganga, porque gracias a él Microsoft se convirtió en dueña y señora de la informática personal durante décadas.
                
                <br><strong>Principios sucios y rápidos</strong> <br>
                Paterson se crió y educó en Seattle, donde se graduó en Ingenería Informática en 1978 en la Universidad de Washington con magna cum laude. En 1976 había tenido su primer encuentro con un ordenador personal, el IMSAI 8080 que se compró su compañero de habitación. Cuando terminó la carrera comenzó a trabajar para la empresa Seattle Computer Products (SCP). 
                Aquel momento fue especialmente significativo porque Intel lanzó al mercado su procesador 8086. Aquello prometía, pero no había sistema operativo que lo soportase, y solo el lenguaje BASIC-86 de Microsoft estaba disponible para aprovecharlo.
                SCP quería vender ordenadores basados en aquella CPU, y sus responsables decidieron poner a Paterson a solucionar aquello. El joven de 24 años comenzó a desarrollar su propio sistema operativo en abril de 1980 lo más rápido (y sucio) que pudo.

                De ahí su nombre, QDOS ("Quick and Dirty Operating System", "Sistema Operativo Sucio y Rápido"), un sistema muy básico que construyó copiando las APIs de CP/M —un sistema operativo muy conocido en la época— que estaban públicamente disponibles. "Siempre quise escribir mi propio sistema operativo", contaba, "siempre odié CP/M y creía que podía hacerlo mucho mejor". QDOS 0.10, con aproximadamente el 50% de las funciones que quería conseguir, estaba listo en julio.

                Una de las diferencias claras entre CP/M y QDOS fue el sistema de ficheros FAT12, mucho más ambicioso que el de CP/M y que hizo que en ese apartado las ventajas fueran claras. A finales de agosto de 1980 QDOS 0.11 estaba listo y era lo suficientemente estable para poder comenzar a venderlo. Paterson siguió trabajando en él e incluyó un ensamblador y un depurador de código, aunque no había editor, algo que solucionó en apenas dos semanas.
                
                <br><strong>Bienvenido, 86-DOS</strong> <br>
                En diciembre de 1980 aquel sistema dio un salto importante: cambió de nombre y se convirtió en 86-DOS (cuya primera versión fue la 0.33, continuando la numeración de QDOS), un sistema operativo que comenzaron a licenciar a fabricantes y a otras empresas como Microsoft. Esta última compró una licencia en formato de tarifa plana: no pagaban por copia, sino por OEM con el que trabajaban. En una de las cláusulas del contrato Microsoft dejaba claro que no tenían que comunicarle a SCP con qué fabricantes y empresas estaban trabajando para integrar ese sistema operativo.
                En 1981 los sucesos se precipitaron: se rumoreaba que IBM preparaba el lanzamiento de un ordenador personal, y en SCP sospechaban que Microsoft estaba trabajando con ella. Paterson decidió dejar su trabajo en SCP y fichar por Microsoft, que le puso a trabajar en una versión de 86-DOS que rebautizaron como PC-DOS. En IBM habían tratado de llegar a un acuerdo con Digital Research para licenciar CP/M, pero las negociaciones no tuvieron éxito: necesitaban una alternativa, y esa alternativa era 86-DOS.
                Pronto quedó claro que aquel sistema operativo estaba destinado al PC de IBM, y Paterson no paraba de recibir peticiones de esta empresa para adaptar ciertos elementos para sus PCs. Entre ellos, por ejemplo, en IBM querían copiar el prompt (símbolo de la consola de comandos que indica que está esperando la entrada del usuario) de CP/M, algo que a Patterson le hacía "querer vomitar". Aún así acometió todos esos cambios y terminó PC-DOS en julio de 1981, un mes antes de que se presentara aquel IBM PC.

                <strong>Fue entonces cuando Microsoft decidió mover ficha y quiso comprar los derechos completos de 86-DOS. El 27 de julio de 1981 consiguieron llegar a un acuerdo con SCP y compraron esos derechos por 50.000 dólares, una cifra que a SCP le parecía razonable, sobre todo porque ellos eran una empresa muy pequeña no tenían músculo suficiente para abordar esa ambiciosa propuesta que sí tenía Microsoft.</strong>
                
                <br><strong>Un acuerdo de 50.000 dólares que valía miles de millones</strong> <br>
                El resto, como suele decirse, es historia: Microsoft cambió el nombre de 86-DOS a MS-DOS y se lo licenció a IBM como PC-DOS 1.0 bajo una licencia que permitía también vender ese sistema operativo a otras empresas. Así lo hizo, y junto al éxito del ordenador personal de IBM que luego derivó en el éxito de los clónicos Microsoft acabó convirtiéndose en la necesaria aliada que proporcionaba el software para complementar al hardware.
                Aquella compra de Microsoft acabó valiendo mucho más de los 50.000 dólares que pagó por 86-DOS. SCP demandó a Microsoft acusándola de haber ocultado aquel provechoso acuerdo con IBM, y finalmente sus responsables recibieron un millón de dólares para cerrar el caso definitivamente.
                Hasta Digital Research quiso tratar de luchar contra ese cambio de era y amenazó con demandar a IBM acusándola de que PC-DOS (y, a posteriori, MS-DOS) no era más que una copia de CP/M. Aquel debate legal se sostuvo durante años, pero un análisis forense demostró en 2012 que eso no era así.

                Lo cierto es que la compra de aquella licencia total para apropiarse de 86-DOS acabó siendo clave para que Microsoft se convirtiera en lo que es hoy en día. En un año ya habían licenciado MS-DOS a 70 empresas, y el crecimiento a partir de entonces fue espectacular.

                Aquel sistema operativo acabaría siendo primero parte fundamental de las primeras versiones de Windows, y hoy en día la herencia del 86-DOS original sigue presente en nuestros sistemas basados en Windows 10: basta ejecutar el comando CMD para comprobarlo.

                Paterson acabó dejando Microsoft para luego volver a unirse dos veces más: en su última etapa, entre 1990 y 1998, centró su trabajo en Visual Basic. Tras dejar la empresa fundó su propia compañía, Paterson Technology, pero su actividad empresarial y pública ha sido en los últimos años aparentemente inexistente.
        </p>
    </main>
</body>
</html>


